* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.navbar {
  padding: 20px 0;
}
.navbar .navbar-brand {
  font-size: 24px;
  font-weight: 700;
}
.navbar .nav-link {
  font-size: 18px;
}

.hero {
  padding: 80px 0;
}
.hero h2 {
  font-size: 48px;
  font-weight: 700;
}
.hero p {
  font-size: 21px;
  font-weight: 300;
  margin: 40px 0;
}
.hero button {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  background: #458ff6;
  color: white;
  border: 0;
  font-weight: 700;
}
.hero img {
  width: 100%;
}

.services {
  padding: 80px 0;
}
.services h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.services hr {
  width: 56px;
  height: 2px;
  background-color: #000000;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  margin: 20px auto;
}
.services p {
  font-size: 18px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: #7d7987;
  margin-bottom: 70px;
}
.services .child-services {
  background-color: rgba(239, 239, 239, 0.4862745098);
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}
.services .child-services h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
.services .child-services p {
  width: 80%;
  font-size: 16px;
  color: #7d7987;
  text-align: start;
  margin: 20px 0;
}
.services button {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  color: #458ff6;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  transition: 0.5s;
}
.services button:hover {
  background-color: #458ff6;
  color: white;
}

.providers {
  padding: 80px 0;
}
.providers img {
  width: 100%;
}
.providers h2 {
  font-size: 36px;
  font-weight: 700;
  width: 481px;
}
.providers hr {
  width: 56px;
  height: 2px;
  border-radius: 10px;
  background-color: #000000;
  margin: 20px 0;
  opacity: 1;
}
.providers p {
  width: 450px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.providers button {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  color: #458ff6;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  transition: 0.5s;
}
.providers button:hover {
  background-color: #458ff6;
  color: white;
}

@media (max-width: 991.98px) {
  .providers {
    padding: 80px 20px;
  }
  .providers img {
    height: 400px;
  }
  .providers h2 {
    width: 100%;
  }
  .providers p {
    width: 100%;
  }
}
@media (max-width: 567.98px) {
  .providers img {
    height: 100%;
  }
  .providers h2 {
    font-size: 20px;
  }
  .providers p {
    font-size: 16px;
  }
  .providers button {
    font-size: 16px;
  }
}
.apps {
  padding: 80px 0;
}
.apps img {
  width: 100%;
}
.apps h2 {
  font-size: 36px;
  font-weight: 700;
  width: 254px;
}
.apps hr {
  width: 56px;
  height: 2px;
  border-radius: 10px;
  background-color: #000000;
  margin: 20px 0;
  opacity: 1;
}
.apps p {
  width: 420px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}
.apps button {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  color: #458ff6;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  transition: 0.5s;
}
.apps button .fa-arrow-down-long {
  width: 15.43px;
  height: 15.82px;
  color: #458ff6;
}
.apps button:hover {
  background-color: #458ff6;
  color: white;
}

@media (max-width: 991.98px) {
  .apps {
    padding: 80px 20px;
  }
  .apps img {
    height: 400px;
  }
  .apps h2 {
    width: 100%;
  }
  .apps p {
    width: 100%;
  }
}
@media (max-width: 567.98px) {
  .apps img {
    height: 100%;
  }
  .apps h2 {
    font-size: 20px;
  }
  .apps p {
    font-size: 16px;
  }
  .apps button {
    font-size: 16px;
  }
}
.saying {
  margin: 80px 100px;
  height: 100%;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  padding: 50px 100px;
  border-radius: 24px;
}
.saying h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.saying hr {
  width: 56px;
  height: 2px;
  border-radius: 6px;
  color: #ffffff;
  margin: 20px auto;
  margin-bottom: 70px;
  opacity: 1;
}
.saying img {
  width: 100%;
}
.saying h3 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}
.saying h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.saying p {
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
}
.saying .carousel-control-prev {
  left: -100px;
}
.saying .carousel-control-next {
  right: -100px;
}

@media (max-width: 1399.98px) {
  .saying {
    margin: 80px 20px;
  }
  .saying img {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 1199.98px) {
  .saying {
    margin: 80px 20px;
  }
  .saying img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .saying img {
    height: 200px;
    width: 200px;
  }
  .saying p {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .saying {
    padding: 50px;
  }
  .saying h2 {
    font-size: 30px;
  }
  .saying img {
    height: 100%;
    width: 100%;
  }
  .saying .carousel-control-prev {
    left: -50px;
  }
  .saying .carousel-control-next {
    right: -50px;
  }
}
@media (max-width: 575.98px) {
  .saying {
    padding: 50px 10px;
  }
  .saying h2 {
    font-size: 23px;
  }
  .saying h3 {
    font-size: 17px;
  }
  .saying h4 {
    font-size: 15px;
  }
  .saying p {
    font-size: 13px;
  }
  .saying .carousel-control-prev {
    left: -30px;
  }
  .saying .carousel-control-next {
    right: -30px;
  }
}
.article {
  padding: 80px 0;
}
.article h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
}
.article hr {
  width: 56px;
  height: 2px;
  border-radius: 6px;
  color: #000000;
  margin: 20px auto;
  margin-bottom: 50px;
  opacity: 1;
}
.article .card {
  height: 100%;
  border-radius: 24px;
  padding-bottom: 15px;
}
.article .card img {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
.article .card h5 {
  font-size: 21px;
  font-weight: 700;
  margin: 10px 0;
}
.article .card p {
  font-size: 16px;
  font-weight: 300;
  color: #7d7987;
  height: 70px;
}
.article .card button {
  font-size: 17px;
  color: #458ff6;
  text-decoration: none;
  padding: 0;
  border-radius: 0;
}
.article .card button .fa-arrow-right-long {
  margin-left: 10px;
}
.article .card button:hover {
  border-bottom: 1px solid #458ff6;
}
.article .view-btn {
  width: 200px;
  height: 60px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  color: #458ff6;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  transition: 0.5s;
  margin-top: 30px;
}
.article .view-btn:hover {
  background-color: #458ff6;
  color: white;
}

footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 80px 0;
  color: #ffffff;
}
footer h2 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin-bottom: 30px;
}
footer h2 span {
  position: absolute;
  left: 13px;
  top: 6px;
  color: #5b9bf3;
}
footer p {
  width: 391px;
  line-height: 28px;
  margin: 20px 0;
  font-weight: 300;
}
footer p:nth-child(2) {
  font-size: 18px;
}
footer p:nth-child(3) {
  font-size: 16px;
}
footer h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
footer ul {
  padding: 0;
  list-style: none;
  line-height: 38px;
}
footer ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}
footer ul li a:hover {
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 992px) {
  footer p {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */