* {
  margin: 0;
  padding: 0;
}

// body {
//   overflow-x: hidden;
// }

// Start Navbar
.navbar {
  padding: 20px 0;

  .navbar-brand {
    font-size: 24px;
    font-weight: 700;
  }

  .nav-link {
    font-size: 18px;
  }
}

.hero {
  padding: 80px 0;

  h2 {
    font-size: 48px;
    font-weight: 700;
  }

  p {
    font-size: 21px;
    font-weight: 300;
    margin: 40px 0;
  }

  button {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    background: #458ff6;
    color: white;
    border: 0;
    font-weight: 700;
  }

  img {
    width: 100%;
  }
}
// End Navbar

// Start Section Services
.services {
  padding: 80px 0;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  hr {
    width: 56px;
    height: 2px;
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    opacity: 1;
    margin: 20px auto;
  }

  p {
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #7d7987;
    margin-bottom: 70px;
  }

  .child-services {
    background-color: #efefef7c;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-top: 20px;
    }

    p {
      width: 80%;
      font-size: 16px;
      color: #7d7987;
      text-align: start;
      margin: 20px 0;
    }
  }

  button {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458ff6;
    color: #458ff6;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    transition: 0.5s;

    &:hover {
      background-color: #458ff6;
      color: white;
    }
  }
}
// End Section Services

// Start Section Providers
.providers {
  padding: 80px 0;

  img {
    width: 100%;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    width: 481px;
  }

  hr {
    width: 56px;
    height: 2px;
    border-radius: 10px;
    background-color: #000000;
    margin: 20px 0;
    opacity: 1;
  }

  p {
    width: 450px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
  }

  button {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458ff6;
    color: #458ff6;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    transition: 0.5s;

    &:hover {
      background-color: #458ff6;
      color: white;
    }
  }
}

@media (max-width: 991.98px) {
  .providers {
    padding: 80px 20px;
    img {
      height: 400px;
    }

    h2 {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }
}
@media (max-width: 567.98px) {
  .providers {
    img {
      height: 100%;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }

    button {
      font-size: 16px;
    }
  }
}
// End Section Providers

// Start Section Apps
.apps {
  padding: 80px 0;

  img {
    width: 100%;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
    width: 254px;
  }

  hr {
    width: 56px;
    height: 2px;
    border-radius: 10px;
    background-color: #000000;
    margin: 20px 0;
    opacity: 1;
  }

  p {
    width: 420px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
  }

  button {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458ff6;
    color: #458ff6;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    transition: 0.5s;

    .fa-arrow-down-long {
      width: 15.43px;
      height: 15.82px;
      color: #458ff6;
    }

    &:hover {
      background-color: #458ff6;
      color: white;
    }
  }
}

@media (max-width: 991.98px) {
  .apps {
    padding: 80px 20px;
    img {
      height: 400px;
    }

    h2 {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }
}
@media (max-width: 567.98px) {
  .apps {
    img {
      height: 100%;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
    }

    button {
      font-size: 16px;
    }
  }
}
// End Section Apps

// Start Section Saying
.saying {
  margin: 80px 100px;
  height: 100%;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  padding: 50px 100px;
  border-radius: 24px;

  h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  }

  hr {
    width: 56px;
    height: 2px;
    border-radius: 6px;
    color: #ffffff;
    margin: 20px auto;
    margin-bottom: 70px;
    opacity: 1;
  }

  img {
    width: 100%;
  }

  h3 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }

  p {
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
    line-height: 30px;
  }

  .carousel-control-prev {
    left: -100px;
  }
  .carousel-control-next {
    right: -100px;
  }
}

@media (max-width: 1399.98px) {
  .saying {
    margin: 80px 20px;

    img {
      height: 150px;
      width: 150px;
    }
  }
}

@media (max-width: 1199.98px) {
  .saying {
    margin: 80px 20px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 991.98px) {
  .saying {
    img {
      height: 200px;
      width: 200px;
    }

    p {
      text-align: center;
    }
  }
}

@media (max-width: 767.98px) {
  .saying {
    padding: 50px;

    h2 {
      font-size: 30px;
    }

    img {
      height: 100%;
      width: 100%;
    }

    .carousel-control-prev {
      left: -50px;
    }

    .carousel-control-next {
      right: -50px;
    }
  }
}

@media (max-width: 575.98px) {
  .saying {
    padding: 50px 10px;

    h2 {
      font-size: 23px;
    }

    h3 {
      font-size: 17px;
    }

    h4 {
      font-size: 15px;
    }

    p {
      font-size: 13px;
    }

    .carousel-control-prev {
      left: -30px;
    }

    .carousel-control-next {
      right: -30px;
    }
  }
}
// End Section Saying

// Start Section article
.article {
  padding: 80px 0;

  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
  }

  hr {
    width: 56px;
    height: 2px;
    border-radius: 6px;
    color: #000000;
    margin: 20px auto;
    margin-bottom: 50px;
    opacity: 1;
  }

  .card {
    height: 100%;
    border-radius: 24px;
    padding-bottom: 15px;

    img {
      border-top-left-radius: 22px;
      border-top-right-radius: 22px;
    }

    h5 {
      font-size: 21px;
      font-weight: 700;
      margin: 10px 0;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      color: #7d7987;
      height: 70px;
    }

    button {
      font-size: 17px;
      color: #458ff6;
      text-decoration: none;
      padding: 0;
      border-radius: 0;

      .fa-arrow-right-long {
        margin-left: 10px;
      }

      &:hover {
        border-bottom: 1px solid #458ff6;
      }
    }
  }

  .view-btn {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458ff6;
    color: #458ff6;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    transition: 0.5s;
    margin-top: 30px;
    &:hover {
      background-color: #458ff6;
      color: white;
    }
  }
}
// End Section article

// Start Footer
footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 80px 0;
  color: #ffffff;

  h2 {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;

    span {
      position: absolute;
      left: 13px;
      top: 6px;
      color: #5b9bf3;
    }
  }

  p {
    width: 391px;
    line-height: 28px;
    margin: 20px 0;
    font-weight: 300;
    &:nth-child(2) {
      font-size: 18px;
    }
    &:nth-child(3) {
      font-size: 16px;
    }
  }

  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 38px;

    li {
      a{
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;

        &:hover {
          border-bottom:1px solid #ffffff;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
  footer {
    p {
      width: 100%;
    }
  }
 }
// End Footer
